##
# Packages will be saved to package.json using minor version range.
# This way, we are saying that upgrades for patchs/bugfix are welcome,
#   but new features should be evaluated more carefully.
# https://docs.npmjs.com/misc/config#save-prefix
##
save-prefix=

##
# PayWithMyBank Cloud Repository (Nexus 3)
# Web panel: https://repository.paywithmybank.com/
##
#registry = https://repository.paywithmybank.com/repository/npm/
#always-auth=true
